@import "_core/_colors";
@import "_core/_variables";
@import "_core/_containers";
@import "_core/_mixins";
@import "_core/_buttons";
@import "_core/_fonts";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
}


html {
  border: 0;
  background: getColor('white');
  top: 0;
  left: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
}

.header {
  position: relative;
  .header-slider {
    position: relative;
    top: 0;
    width: 100%;
    padding-top: 42%;
    .header-slider:before {
      display: block;
      content: "";
      width: 100%;
    }
    .lSSlideOuter {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      #lightSliderHeader {
        height: 100%;
        .lslide {
          position: relative;
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -ms-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
          transition-duration: .5s;
          transition-timing-function: ease;
          &:before {
            width: 100%;
            height:  100%;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: #0000007d;
            z-index: 1;

          }

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }

    }

  }
  .header-content {
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .container {
      position: relative;
      height: 100%;
    }

    .header__wrapper {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: space-between;
      .logo-mobile {
        display: none;
      }
      .header-block__left {
        .header-left__wrapper {
          display: flex;
          position: relative;
          align-items: center;
          .logo-main {
            position: relative;
            img {
              width: 100%;
              object-fit: cover;

            }
          }
        }

      }
      .header__menu {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: white;
        padding-bottom: 10px;
        border-bottom: 2px solid white;
        padding-top: 60px;
        .header__menu-main, .header__menu-lang {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          .header__menu-item {
            position: relative;
            margin-right: 10px;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            cursor: pointer;
            .item-title {
              background: transparent;
              padding: 5px 10px;
              font-size: 21px;
              font-weight: 400;
              -webkit-transition: all .3s;
              -moz-transition: all .3s;
              -ms-transition: all .3s;
              -o-transition: all .3s;
              transition: all .3s;

            }
            .dropdown-items {
              position: absolute;
              height: 0;
              opacity: 0;
              z-index: -1;
              padding-top: 20px;

              .dropdown-items__wrapper {
                display: none;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                background: rgba(255, 255, 255, 0.85);
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                padding: 15px;
                height: 0;
                a {
                  white-space: nowrap;
                  text-decoration: none;
                  padding: 10px;
                  font-size: 18px;
                  font-weight: 400;
                  color: black;
                  -webkit-transition: all .3s;
                  -moz-transition: all .3s;
                  -ms-transition: all .3s;
                  -o-transition: all .3s;
                  transition: all .3s;
                  &:hover {
                    color: getColor('red');
                  }

                }
              }

            }
            &:hover, &.active {
              .item-title {
                background: getColor('white');
                color: getColor('red');
              }
              .dropdown-items {
                opacity: 1;
                z-index: 10;
                height: fit-content;
                .dropdown-items__wrapper {
                  height: fit-content;
                  display: flex;
                }
              }
            }
          }
        }
        .header__menu-lang {
          margin-left: auto;
          .header__menu-item {
            margin-right: 0;
          }
          .dropdown-items {
            right: 0;
          }
        }
      }
      .header__date {
        display: flex;
        margin-top: 20px;
        color: white;
        .date__title {
          font-size: 50px;
          font-weight: 600;
          margin-right: 20px;
          margin-bottom: 20px;
        }
        .date__desc {
          .date__year {
            margin-bottom: 8px;
            font-size: 20px;
            font-weight: 600;
          }
          .date__address {
            font-size: 20px;
          }
        }
      }
      .site-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        color: white;
        font-size: 24px;
        line-height: 1.4em;
        font-weight: 400;
        text-align: center;
      }
      .header__advanced-menu {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        .menu__item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          font-size: 24px;
          padding-left: 30px;
          padding-right: 30px;
          width: 33.3%;
          border: 1px solid white;
          background: black;
          color: white;
          cursor: pointer;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -ms-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
          font-weight: 400;
          .arrow-right i {
            font-size: 24px;
          }
          &:not(:first-child) {
            border-left: none;
          }
          &:hover {
            background: getColor('black');
          }
          &.item-red {
            background: getColor('red');
            &:hover {
              background: getColor('redHover');

            }
          }
        }
      }
    }
  }


}

.info-line {
  background: getColor('blue');
  height: 45px;
  display: flex;
  align-items: center;
  color: white;
}

.section-title {
  margin: 70px 0;
  font-size: 35px;
  font-weight: bold;
  color: getColor('red');
  padding-left: 35px;
  border-left: 15px solid getColor('blue');
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  &:hover {
    color: getColor('redHover');
  }
}
a.section-title {
  &:after {
    display: block;
    content: '';
    height: 70px;
  }
}

.content-section {
  position: relative;
  margin-bottom: 70px;
  &#infografic {
    .section-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .logo {
        display: flex;
        flex-direction: column;
        width: 33%;
        align-items: flex-start;
        justify-content: flex-start;
        img {
          width: 250px;

        }
        .logo-text {
          margin-top: 20px;
          font-size: 25px;
          font-weight: 600;
        }
      }
      .infografic-item {
        -webkit-flex: 1 0 33%;
        -moz-flex: 1 0 33%;
        -ms-flex: 1 0 33%;
        flex: 1 0 33%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 50px 0px;
        .item-image {
          width: 70px;
          height: 70px;
          position: relative;
          img {
            width: auto;
            height: 70px;
            object-fit: cover;
          }
        }
        .item-text {
          display: flex;
          flex-direction: column;
          max-width: 200px;
          margin-left: 15px;
          .text__big {
            font-size: 40px;
            font-weight: 600;
            white-space: pre-wrap;
          }
          .text__normal {
            font-size: 20px;
            font-weight: 400;
          }
        }
      }
    }
  }

}


.content-banner {
  .banners-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .banners-item {
      width: 50%;
      &:first-child {
        .banner, .container {
          margin-right: 10px;
        }
      }
      &:last-child {
        .banner, .container {
          margin-left: 10px;
        }
      }

    }

  }
  .banner {
    height: 540px;
    overflow-y: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(50%);
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.53);


      }

    }

  }
  .banner__content {
    position: relative;
    width: 100%;
    transform: translateY(-50%);
    z-index: 2;

    .container {
      background: rgba(58, 101, 159, 0.87);
      min-height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      .banner__text {
        padding: 40px;
        font-size: 30px;
        color: white;
        font-weight: 500;
        line-height: 1.4em;
        text-decoration: none;
      }
      &:hover {
        background: #3A659F;
      }

    }
  }
}

#mainNews {
  .section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .item-big {
      width: 70%;
      padding-right: 10px;
      position: relative;
      .news__desc {
        margin-right: 10px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        a {
          text-decoration: none;
          color: white;
        }
        &:hover {
          background: rgba(58, 101, 159, 0.87);
        }

      }
    }
    .item-small {
      width: 30%;
      padding-left: 10px;
      position: relative;
      .news__desc {
        margin-left: 10px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        a {
          text-decoration: none;
          color: white;
        }
        &:hover {
          background: rgba(58, 101, 159, 0.87);
        }

      }

    }
    .item__image {
      position: relative;
      overflow: hidden;
      height: 400px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .news__desc {
      position: absolute;
      background: getColor('blue');
      z-index: 2;
      height: 90px;
      padding: 15px;
      left: 0;
      background: #336a8d;
      right: 0;
      bottom: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      .news__date {
        font-size: 12px;
        font-weight: 600;
        text-align: right;
        color: white;
        margin-bottom: 10px;
      }
      .news__text {
        font-size: 12px;
        color: white;
        line-height: 1.3em;
        margin-bottom: 10px;
        overflow: hidden;
      }
    }
  }
}

#mainGallery {
  padding-bottom: 70px;
  .section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .item-big {
      width: 70%;
      padding-right: 10px;
      position: relative;
      height: 530px;
      .item__image {
        position: relative;
        overflow: hidden;
        height: inherit;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

    }

    .items-small {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      -webkit-flex: 0 1 30%;
      -moz-flex: 0 1 30%;
      -ms-flex: 0 1 30%;
      flex: 0 1 30%;
      position: relative;
    }
    .item-small {
      padding-left: 10px;
      position: relative;
      height: 50%;
      .item__image {
        position: relative;
        overflow: hidden;
        height: inherit;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &:first-child {
        padding-bottom: 10px;
      }
      &:last-child {
        padding-top: 10px;
      }

    }
  }
}

#mainOrg {
  .org-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    .org-item {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
      .item-image {
        max-width: 40%;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .item-desc {
        padding: 0 30px;
        .item__title {
          margin-bottom: 30px;
          font-size: 25px;
          color: getColor('red');
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }
}

#mainSpeakers {
  padding-bottom: 70px;
  .speakersSwiper {
    .swiper-wrapper {
    }
    .swiper-slide {
      height: auto;
      align-self: stretch;
      display: flex;
      flex-grow: 1;
      .sp-item {
        background: #eeeeee;
        padding: 15px 15px 40px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        position: relative;
        -webkit-box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.2);
        &:after {
          position: absolute;
          content: '';
          bottom: 10px;
          height: 10px;
          width: 100%;
          background: getColor('red');
        }
        .sp__photo {
          width: 100%;
          position: relative;
          overflow: hidden;
          margin-bottom: 30px;
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
          }
        }
        .sp__name {
          font-size: 16px;
          font-weight: 600;
          line-height: 1.6;
          margin-bottom: 10px;
          text-align: center;
        }
        .sp__desc, .sp__company {
          font-size: 16px;
          font-weight: 400;
          line-height: 1.6;
          margin-bottom: 10px;
          text-align: center;
          color: #717171;
        }
      }

    }
    .swiper-pagination-speaker {
      bottom: 0 !important;
      pointer-events: all !important;
      display: flex;
      justify-content: center;
      .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
        background: getColor('red');
      }
    }
  }
}

#mainPartners {
  padding-bottom: 70px;
  .partnersSwiper {
    .swiper-wrapper {
    }
    .swiper-slide {
      height: auto;
      align-self: stretch;
      display: flex;
      flex-grow: 1;
      .par-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        position: relative;
        .par__photo {
          width: 100%;
          position: relative;
          overflow: hidden;
          margin-bottom: 20px;
          padding-top: 100%;
          -webkit-box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.2);
          -moz-box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.2);
          img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
          }
        }
        .par__name {
          font-size: 16px;
          line-height: 1.6;
          margin-bottom: 10px;
          text-align: center;
        }
      }

    }
    .swiper-pagination-partners {
      bottom: 0 !important;
      pointer-events: all !important;
      display: flex;
      justify-content: center;
      .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
        background: getColor('red');
      }
    }
  }
}

footer {
  width: 100%;
  padding-bottom: 40px;
  position: relative;
  padding-top: 40px;
  .footer-bgr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .footer-column {
      display: flex;
      flex-direction: column;
      &.footer__left {
        .footer-menu {
          margin-right: 40px;
        }
      }
      &.footer__main {
        flex-grow: 1;
        .footer-menu {
          justify-content: space-between;
        }
        .footer-menu__column {
          flex: 1 1 25%;
          .footer-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
          }
        }
      }
      .footer__title {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 40px;
        color: white;
      }
      .footer-menu {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        .footer-menu__column {
          display: flex;
          flex-direction: column;
          justify-content: center;
          a.menu__item {
            cursor: pointer;
            text-decoration: none;
            white-space: nowrap;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            &:hover {
              font-weight: 600;
            }
          }
          .menu__item {
            color: white;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.5;
            &.icon__tg {
              margin-right: 15px;
              -webkit-transition: all .3s;
              -moz-transition: all .3s;
              -ms-transition: all .3s;
              -o-transition: all .3s;
              transition: all .3s;

              i {
                font-size: 47px;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;

              }
              &:hover {
                i {
                  color: #0088cc;
                }
              }
            }
            &.icon__youtube {
              -webkit-transition: all .3s;
              -moz-transition: all .3s;
              -ms-transition: all .3s;
              -o-transition: all .3s;
              transition: all .3s;

              i {
                font-size: 48px;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;

              }
              &:hover {
                i {
                  color: #c4302b;
                }
              }
            }
          }

        }
      }
    }
  }
  .footer-bottom {
    margin-top: 100px;
    font-size: 14px;
    color: white;
    text-align: center;
  }

}


@media screen and (min-width: 1441px) {
  header {
    .header__wrapper {
      flex-direction: row;
      .header-block__left {
        position: relative;
        margin-top: 60px;
        flex: 0 1 300px;
        .header-left__wrapper {
          padding: 0 30px;
          flex-direction: column;
          align-items: center;

          .logo-main {
            margin-bottom: 50px;
          }
          .header-counter {
            margin-top: 30px;
            .countdown {
              .countdown-number {
                margin-bottom: 15px;
                .countdown-time {
                  color: white;
                  font-size: 30px;
                  font-weight: 600;
                }
                .countdown-text {
                  font-size: 24px;
                  color: white;
                }
              }
            }
          }
        }
      }
      .header-block__main {
        display: flex;
        flex-direction: column;
        flex: 1 0;
      }

      .header__date {
        align-items: flex-end;
        justify-content: flex-start;
        flex-direction: row;

      }
      .site-desc {
        position: relative;
      }
      .header__advanced-menu {
        .menu__item {
          height: 120px;
          line-height: 1em;

        }
      }
    }
  }
}


@media screen and (max-width: 1440px) {
  header {
    .header__wrapper {
      flex-direction: row;
      .header-block__left {
        position: relative;
        margin-top: 60px;
        flex: 0 1 300px;

        .header-left__wrapper {
          margin-left: 0;
          align-items: center;
          flex-direction: column;

          .logo-main {
            margin-bottom: 50px;
            margin-right: 20px;
          }
          .header-counter {
            margin-top: 0px;
            .countdown {
              .countdown-number {
                margin-bottom: 10px;
                display: flex;
                flex-direction: row;
                .countdown-time {
                  color: white;
                  font-size: 24px;
                  font-weight: 600;
                  margin-right: 10px;
                }
                .countdown-text {
                  color: white;
                  font-size: 16px;
                }
              }
            }
          }

        }

      }

      .header-block__main {
        display: flex;
        flex-direction: column;
        flex: 1 0;

        .header__menu {
          width: 100%;
        }
        .header__date {
          align-items: flex-start;
          justify-content: flex-start;
          flex-grow: 1;
          flex-direction: row;

        }
        .header__advanced-menu {
          .menu__item {
            line-height: 1.2em;
            height: 80px;
          }
        }

      }


    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    .header__wrapper {
      flex-direction: row;
      .header-block__left {
        position: relative;
        margin-top: 60px;
        flex: 0 1 250px;

        .header-left__wrapper {
          margin-left: 0;
          align-items: center;
          flex-direction: column;

          .logo-main {
            margin-bottom: 50px;
            margin-right: 20px;
          }
          .header-counter {
            margin-top: 0px;
            .countdown {
              .countdown-number {
                margin-bottom: 10px;
                display: flex;
                flex-direction: row;
                .countdown-time {
                  color: white;
                  font-size: 24px;
                  font-weight: 600;
                  margin-right: 10px;
                }
                .countdown-text {
                  color: white;
                  font-size: 16px;
                }
              }
            }
          }

        }

      }

      .header-block__main {
        display: flex;
        flex-direction: column;
        flex: 1 0;

        .header__menu {
          width: 100%;
          .item-title {
            font-size: 18px !important;
          }
        }
        .header__date {
          align-items: flex-start;
          justify-content: flex-start;
          flex-grow: 1;
          flex-direction: row;

        }
        .header__advanced-menu {
          .menu__item {
            line-height: 1.2em;
            height: 80px;
          }
        }

      }
    }
  }
}

@media screen and (max-width: 1024px) {
  header {
    .header__wrapper {
      flex-wrap: wrap;
      flex-direction: row;
      max-width: 100%;
      .header-block__left {
        width: 300px !important;
        position: relative;
        order: 2;
        left: 0 !important;
        margin-top: 30px;
        margin-right: 30px;

        .header-left__wrapper {
          margin-left: 0;
          align-items: flex-start;
          flex-direction: row;
          .logo-main {
            margin-bottom: 0;
            margin-right: 20px;
          }
          .header-counter {
            margin-top: 0;
            .countdown {
              .countdown-number {
                margin-bottom: 10px;
                display: flex;
                flex-direction: row;
                .countdown-time {
                  color: white;
                  font-size: 20px;
                  font-weight: 600;
                  margin-right: 10px;
                }
                .countdown-text {
                  color: white;
                  font-size: 16px;
                }
              }
            }
          }

        }

      }
      .header__menu {
        order: 1;
        flex-grow: 1;
        width: 100%;
      }
      .header__date {
        order: 3;
        flex-wrap: wrap;
        flex: 1 1;
        align-items: flex-start;
        justify-content: flex-start;
        margin-right: auto;
        flex-direction: column;

      }
      .site-desc {
        order: 4;
        position: relative;
        top: unset;
        left: unset;
      }
      .header__advanced-menu {
        order: 6;
        flex-grow: 1;
        .menu__item {
          line-height: 1.2em;
          height: 80px;
        }
      }

    }
  }
}